# Tutorial 1

## What kind of data does pandas handle?

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame({
    'Name':['Shahzaib Hassan','Afnan Ismail','Hashir'],
    'Age' :[21,20,-10],
    'Sex' :['Male','Female','Male']
})
df

              Name  Age     Sex
0  Shahzaib Hassan   21    Male
1     Afnan Ismail   20  Female
2           Hashir  -10    Male

I’m just interested in working with the data in the column Age

In [29]:
age = df['Age']
type(age)

pandas.core.series.Series

I want to know the maximum Age of the passengers

In [30]:
age.max()

21

I’m interested in some basic statistics of the numerical data of my data table

In [31]:
df.describe()

             Age
count   3.000000
mean   10.333333
std    17.616280
min   -10.000000
25%     5.000000
50%    20.000000
75%    20.500000
max    21.000000

Many pandas operations return a DataFrame or a Series. The describe() method is an example of a pandas operation returning a pandas Series or a pandas DataFrame.

# Tutorial 2
## How do I read and write tabular data?

In [36]:
df = pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [37]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [38]:
df.to_excel("poke.xlsx", sheet_name="pokes", index=False)

In [39]:
df2 = pd.read_excel('poke.xlsx',sheet_name='pokes')
df2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

I’m interested in a technical summary of a DataFrame

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

# Tutorial 3
## How do I select a subset of a DataFrame?
### 1:How do I select specific columns from a DataFrame?

In [41]:
attack = df['Attack']
attack.head()

0     49
1     62
2     82
3    100
4     52
Name: Attack, dtype: int64

In [42]:
attack.shape

(800,)

In [43]:
# To select multiple columns, use a list of column names within the selection brackets [].
attack_name = df[['Attack','Name']]
attack_name

     Attack                   Name
0        49              Bulbasaur
1        62                Ivysaur
2        82               Venusaur
3       100  VenusaurMega Venusaur
4        52             Charmander
..      ...                    ...
795     100                Diancie
796     160    DiancieMega Diancie
797     110    HoopaHoopa Confined
798     160     HoopaHoopa Unbound
799     110              Volcanion

[800 rows x 2 columns]

### How do I filter specific rows from a DataFrame?

In [44]:
attack = df[df['Attack'] > 30]
attack

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

The condition inside the selection brackets titanic["Age"] > 35 checks for which rows the Age column has a value larger than 35:

In [49]:
type(attack)

pandas.core.frame.DataFrame

In [52]:
# I am interested in rows which have attack 30 or 50 
attack_3050 = df[df['Attack'].isin([30,50])]
attack_3050

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
65,60,Poliwag,Water,NaN,40,50,40,40,40,90,1,False
70,65,Alakazam,Psychic,NaN,55,50,45,135,95,120,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
108,100,Voltorb,Electric,NaN,40,30,50,55,55,100,1,False
109,101,Electrode,Electric,NaN,60,50,70,80,80,140,1,False
112,104,Cubone,Ground,NaN,50,50,95,40,50,35,1,False
133,124,Jynx,Ice,Psychic,65,50,35,115,95,95,1,False
177,163,Hoothoot,Normal,Flying,60,30,30,36,56,50,2,False
178,164,Noctowl,Normal,Flying,100,50,50,76,96,70,2,False
188,174,Igglybuff,Normal,Fairy,90,30,15,40,20,15,2,False
191,177,Natu,Psychic,Flying,40,50,45,70,45,70,2,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
238,220,Swinub,Ice,Ground,50,50,40,30,30,50,2,False
257,238,Smoochum,Ice,Psychic,45,30,15,85,65,65,2,False
286,263,Zigzagoon,Normal,NaN,38,30,41,30,41,60,3,False
292,269,Dustox,Bug,Poison,60,50,70,50,90,65,3,False
293,270,Lotad,Water,Grass,40,30,30,40,50,30,3,False
294,271,Lombre,Water,Grass,60,50,50,60,70,50,3,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
302,279,Pelipper,Water,Flying,60,50,100,85,70,65,3,False
307,283,Surskit,Bug,Water,40,30,32,50,52,65,3,False
340,311,Plusle,Electric,NaN,60,50,40,85,75,95,3,False
391,358,Chimecho,Psychic,NaN,65,50,70,95,80,65,3,False
395,361,Snorunt,Ice,NaN,50,50,50,50,50,50,3,False
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
415,378,Regice,Ice,NaN,80,50,100,100,200,50,3,True
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
472,425,Drifloon,Ghost,Flying,90,50,34,60,44,70,4,False
481,433,Chingling,Psychic,NaN,45,30,50,65,50,45,4,False
501,451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False
519,468,Togekiss,Fairy,Flying,85,50,95,120,115,80,4,False
531,479,Rotom,Electric,Ghost,50,50,77,95,77,91,4,False
568,509,Purrloin,Dark,NaN,41,50,37,50,37,66,5,False
595,535,Tympole,Water,NaN,50,50,40,50,40,64,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
623,562,Yamask,Ghost,NaN,38,30,85,55,65,30,5,False
624,563,Cofagrigus,Ghost,NaN,58,50,145,95,105,30,5,False
629,568,Trubbish,Poison,NaN,50,50,62,40,62,65,5,False
633,572,Minccino,Normal,NaN,55,50,40,40,40,75,5,False
635,574,Gothita,Psychic,NaN,45,30,50,55,65,45,5,False
638,577,Solosis,Psychic,NaN,45,30,40,105,50,20,5,False
643,582,Vanillite,Ice,NaN,36,50,50,65,60,44,5,False
658,597,Ferroseed,Grass,Steel,44,50,91,24,86,10,5,False
668,607,Litwick,Ghost,Fire,50,30,55,65,55,20,5,False
676,615,Cryogonal,Ice,NaN,70,50,30,95,135,105,5,False
729,661,Fletchling,Normal,Flying,45,50,43,40,38,62,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False

The above is equivalent to filtering by rows for which the class is either 2 or 3 and combining the two statements with an | (or) operator:

In [55]:
attack_3050 = df[(df['Attack'] == 30) | (df['Attack'] == 50)]
attack_3050

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
65,60,Poliwag,Water,NaN,40,50,40,40,40,90,1,False
70,65,Alakazam,Psychic,NaN,55,50,45,135,95,120,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
108,100,Voltorb,Electric,NaN,40,30,50,55,55,100,1,False
109,101,Electrode,Electric,NaN,60,50,70,80,80,140,1,False
112,104,Cubone,Ground,NaN,50,50,95,40,50,35,1,False
133,124,Jynx,Ice,Psychic,65,50,35,115,95,95,1,False
177,163,Hoothoot,Normal,Flying,60,30,30,36,56,50,2,False
178,164,Noctowl,Normal,Flying,100,50,50,76,96,70,2,False
188,174,Igglybuff,Normal,Fairy,90,30,15,40,20,15,2,False
191,177,Natu,Psychic,Flying,40,50,45,70,45,70,2,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
238,220,Swinub,Ice,Ground,50,50,40,30,30,50,2,False
257,238,Smoochum,Ice,Psychic,45,30,15,85,65,65,2,False
286,263,Zigzagoon,Normal,NaN,38,30,41,30,41,60,3,False
292,269,Dustox,Bug,Poison,60,50,70,50,90,65,3,False
293,270,Lotad,Water,Grass,40,30,30,40,50,30,3,False
294,271,Lombre,Water,Grass,60,50,50,60,70,50,3,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
302,279,Pelipper,Water,Flying,60,50,100,85,70,65,3,False
307,283,Surskit,Bug,Water,40,30,32,50,52,65,3,False
340,311,Plusle,Electric,NaN,60,50,40,85,75,95,3,False
391,358,Chimecho,Psychic,NaN,65,50,70,95,80,65,3,False
395,361,Snorunt,Ice,NaN,50,50,50,50,50,50,3,False
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
415,378,Regice,Ice,NaN,80,50,100,100,200,50,3,True
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
472,425,Drifloon,Ghost,Flying,90,50,34,60,44,70,4,False
481,433,Chingling,Psychic,NaN,45,30,50,65,50,45,4,False
501,451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False
519,468,Togekiss,Fairy,Flying,85,50,95,120,115,80,4,False
531,479,Rotom,Electric,Ghost,50,50,77,95,77,91,4,False
568,509,Purrloin,Dark,NaN,41,50,37,50,37,66,5,False
595,535,Tympole,Water,NaN,50,50,40,50,40,64,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
623,562,Yamask,Ghost,NaN,38,30,85,55,65,30,5,False
624,563,Cofagrigus,Ghost,NaN,58,50,145,95,105,30,5,False
629,568,Trubbish,Poison,NaN,50,50,62,40,62,65,5,False
633,572,Minccino,Normal,NaN,55,50,40,40,40,75,5,False
635,574,Gothita,Psychic,NaN,45,30,50,55,65,45,5,False
638,577,Solosis,Psychic,NaN,45,30,40,105,50,20,5,False
643,582,Vanillite,Ice,NaN,36,50,50,65,60,44,5,False
658,597,Ferroseed,Grass,Steel,44,50,91,24,86,10,5,False
668,607,Litwick,Ghost,Fire,50,30,55,65,55,20,5,False
676,615,Cryogonal,Ice,NaN,70,50,30,95,135,105,5,False
729,661,Fletchling,Normal,Flying,45,50,43,40,38,62,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False

When combining multiple conditional statements, each condition must be surrounded by parentheses (). Moreover, you can not use or/and but need to use the or operator | and the and operator &.

I want to work with data for which the Type2 is known.

In [57]:
type2 = df[df['Type 2'].notna()]
type2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

### How do I select specific rows and columns from a DataFrame?

I’m interested in the names of the pokemons having attack smaller than 35

In [60]:
attack_35 = df.loc[df['Attack'] < 35 , 'Name']
attack_35

13               Caterpie
14                Metapod
17                 Kakuna
68                   Abra
108               Voltorb
121               Chansey
139              Magikarp
177              Hoothoot
179                Ledyba
187                Cleffa
188             Igglybuff
189                Togepi
198                Marill
206               Sunkern
217             Wobbuffet
230               Shuckle
254              Smeargle
257              Smoochum
261               Blissey
286             Zigzagoon
293                 Lotad
301               Wingull
303                 Ralts
307               Surskit
322               Azurill
356                Spoink
381                Feebas
394                Wynaut
405               Luvdisc
446             Kricketot
451                 Budew
457                 Burmy
462                Combee
481             Chingling
484               Bronzor
487              Mime Jr.
488               Happiny
508               Mantyke
576                 Munna
606              Cottonee
616    DarmanitanZen Mode
623                Yamask
635               Gothita
638               Solosis
668               Litwick
733                Spewpa
790                Noibat
Name: Name, dtype: object

When using loc/iloc, the part before the comma is the rows you want, and the part after the comma is the columns you want to select.

In [62]:
df.loc[df['Attack'] > 25, ['Name', 'Generation']]

                      Name  Generation
0                Bulbasaur           1
1                  Ivysaur           1
2                 Venusaur           1
3    VenusaurMega Venusaur           1
4               Charmander           1
..                     ...         ...
795                Diancie           6
796    DiancieMega Diancie           6
797    HoopaHoopa Confined           6
798     HoopaHoopa Unbound           6
799              Volcanion           6

[776 rows x 2 columns]

I’m interested in rows 10 till 25 and columns 3 to 5.

In [66]:
df.iloc[10:26,3:6]

    Type 2  HP  Attack
10     NaN  59      63
11     NaN  79      83
12     NaN  79     103
13     NaN  45      30
14     NaN  50      20
15  Flying  60      45
16  Poison  40      35
17  Poison  45      25
18  Poison  65      90
19  Poison  65     150
20  Flying  40      45
21  Flying  63      60
22  Flying  83      80
23  Flying  83      80
24     NaN  30      56
25     NaN  55      81

When selecting specific rows and/or columns with loc or iloc, new values can be assigned to the selected data. For example, to assign the name anonymous to the first 3 elements of the third column:

In [68]:
df.iloc[0:3,3] = 'anonymus'

In [69]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,anonymus,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,anonymus,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,anonymus,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False